.todo-form {
  display: flex;
  margin-top: 50px;
  flex-direction: column;
  width: 300px;
}
.radioBtnsContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
