.todos-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .todo-card {
    margin-bottom: 30px;
  }
  .column-title {
    margin-bottom: 20px;
    font-size: 20px;
  }
}
