<form [formGroup]="createTodoForm" class="todo-form">
  <mat-form-field appearance="fill">
    <mat-label>Owner</mat-label>
    <input matInput formControlName="owner" />
    <mat-error *ngIf="createTodoForm.status === 'INVALID'">
      Owner is <strong>required</strong>
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Title</mat-label>
    <input matInput formControlName="title" />
    <mat-error *ngIf="createTodoForm.controls.title.errors?.notUnique">
      Title is not unique
    </mat-error>
    <mat-error *ngIf="createTodoForm.controls.title.errors?.required">
      Title is <strong>required</strong></mat-error
    >
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Description</mat-label>
    <textarea matInput formControlName="description"></textarea>
    <mat-error *ngIf="createTodoForm.controls.description.errors?.required">
      Description is <strong>required</strong></mat-error
    >
  </mat-form-field>

  Select Priority

  <div class="radioBtnsContainer">
    <mat-radio-button ngDefaultControl formControlName="priority" value="High"
      >High</mat-radio-button
    >
    <mat-radio-button ngDefaultControl formControlName="priority" value="Medium"
      >Medium</mat-radio-button
    >
    <mat-radio-button ngDefaultControl formControlName="priority" value="Low"
      >Low</mat-radio-button
    >
  </div>

  <br />
  <mat-form-field>
    <mat-label>Deadline</mat-label>
    <input matInput [matDatepicker]="picker" formControlName="deadline" />
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <br />
  <button
    mat-raised-button
    color="primary"
    (click)="onSubmit()"
    [disabled]="createTodoForm.status === 'INVALID'"
  >
    Submit
  </button>
</form>
