/* You can add global styles to this file, and also import other style files */

html {
  //top: 0 !important;

  body {
    height: 100%;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
  }
}
// Imports for Angular Material Theming
@import "@angular/material/prebuilt-themes/pink-bluegrey.css";
