.todo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.todo-heading {
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 30px;
}
.todos-list {
  width: 90%;
  max-width: 1000px;
}
